<div class="main-wrapper">
  <header class="header">
    <h1 class="title">Virtual Public Services Portal</h1>
    <p class="subtitle">
      AI-driven assistance for citizens & streamlined governance for
      administrators
    </p>
  </header>

  <main class="main">
    <div class="card-container">
      <div class="card">
        <h5 class="card-title">Citizen Login</h5>
        <p class="card-text">
          Access AI-powered passport renewals, tax filing, and legal services in
          your preferred language.
        </p>
        <button class="btn" (click)="navigateToUserLogin()">
          Login as Citizen
        </button>
      </div>

      <div class="card">
        <h5 class="card-title">Admin Login</h5>
        <p class="card-text">
          Monitor public service performance, optimize operations, and drive
          policy improvements with analytics.
        </p>
        <button class="btn" (click)="navigateToAdminLogin()">
          Login as Admin
        </button>
      </div>
    </div>
  </main>
</div>
